.DS_Store
.phpcomplete_extended
.idea
*.iml
*.log
benchmark
build
composer.lock
vendor
test/app/media/*
test/app/runtime/*
test/app/migration/*
test/app/sqlite.db
test/config_local.php
test.php
phpunit.phar

*.swp
