language: php

php:
  - 5.6
  - 7.0
  - hhvm

install: composer install

before_script:
  - mysql -u root -e 'CREATE DATABASE test;'
  - psql -c 'create database test;' -U postgres

services:
  - mysql
  - postgresql

matrix:
  allow_failures:
    - php: hhvm
  exclude:
    - php: hhvm
      env: DB=pgsql  # PDO driver for pgsql is unsupported by HHVM (3rd party install for support)