<div class="row">
    <div class="columns small-12">
        {% for menu in adminMenu %}
            <p>
                {% if not menu.route %}
                    <span>{{ t(menu.name) }}</span>
                {% else %}
                    <a href="{{ url(menu.route, menu.defaults ? menu.defaults : []) }}">
                        {{ t(menu.name) }}
                    </a>
                {% endif %}
            </p>

            <ul class="b-admin-menu">
                {% for item in menu.menu %}
                    <li>
                        {% if item.route %}
                            <a href="{{ url(item.route, item.defaults ? item.defaults : []) }}">
                                {% if item.handler %}
                                    {% set count = container.get(item.handler).count() %}
                                    {% if count %}
                                        <span class="b-sidebar-menu__item-counter">{{ count }}</span>
                                    {% endif %}
                                {% endif %}

                                {{ t(item.name) }}
                            </a>
                        {% else %}
                            <span>{{ t(item.name) }}</span>
                        {% endif %}

                        {% if item.menu %}
                            <ul class="b-admin-menu b-admin-menu_nested">
                                {% for child in item.menu %}
                                    <li>
                                        {% if child.route %}
                                            <a href="{{ url(child.route, child.defaults ? child.defaults : []) }}">
                                                {% if child.handler %}
                                                    {% set count = container.get(child.handler).count() %}
                                                    {% if count %}
                                                        <span class="b-sidebar-menu__item-counter">{{ count }}</span>
                                                    {% endif %}
                                                {% endif %}

                                                {{ t(child.name) }}
                                            </a>
                                        {% else %}
                                            <span>{{ t(child.name) }}</span>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>