$button-padding: 5px 14px !default;
$button-background: $peter-river !default;

@mixin button($background: $button-background, $padding: $button-padding) {
  border: none;
  background-color: $background;
  padding: $padding;
  box-sizing: padding-box;
  display: inline-block;
  color: #fff;
  outline: none;

  &:hover {
    background-color: darken($background, 5%);
    color: #fff;
  }
}