$georgia: Georgia, Cambria, "Times New Roman", Times, serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$lucida-grande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$tahoma: Tahoma, Verdana, Arial, sans-serif;
$monospace: Consolas, "Liberation Mono", Courier, monospace;
$verdana: Verdana, Geneva, sans-serif;