//This is an example configuration file in your sass directory.
@import "functions";

//Change you breakpoints
$small-breakpoint:  em-calc(320);
$medium-breakpoint: em-calc(768);
$large-breakpoint:  em-calc(978);
$xlarge-breakpoint: em-calc(1200);
